@import url("nav.css");

:root {
  --primary-font: "Playfair Display SC", serif;
  --secondry-font: "Poppins", sans-serif;
  --primary-color: #85e1dc;
  --secondary-color: #657d5c;
  --low-color: #aecac2;
  --link-color1: #c9a053;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--secondry-font);
  background-color: #9ccd7e63;
}

h1 {
  color: var(--link-color1);
  font-size: 4.5vw;
  width: 120%;
  z-index: 1;
}

h2 {
  font-size: 2.5vw;
}

p {
  font-size: 1.8vw;
}

.callButtons {
  display: block;
  margin: 0 auto;
  width: 20%;
  margin-top: 20px;
}

.callButtons a {
  text-align: center;
  font-size: 1.7vw;
  margin-top: 65px;
  color: var(--link-color1);
  border: 1px solid var(--link-color1);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

.callButtons a:hover {
  color: white;
  background-color: rgba(205, 154, 59, 0.6);
}

.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 31px;
  margin-top: 100px;
}
