.logo {
  width: 130px;
}

a,
button {
  cursor: pointer;
  color: var(--link-color1);
  text-decoration: none;
}

nav {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 250px;
}

.navigation {
  position: fixed;
  right: -150%;
  width: 350px;
  height: 100%;
  top: 0;
  background-color: #023617c4;
  transition: all 0.7s ease-in-out;
  z-index: 1;
}

.navigation ul li {
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
  padding: 20px 30px;
  border-bottom: 1pt solid #252525;
}

#navLinks li a {
  font-size: 2.2vw;
}

.hamburger,
.bar {
  position: fixed;
}

.hamburger {
  display: block;
  top: 9%;
  left: 90%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
}

.bar {
  top: 3px;
  background: #000;
  width: 100%;
  height: 4px;
  transition: all 0.7s ease-in-out;
}

#bar2 {
  top: 11px;
}

#bar3 {
  top: 19px;
}

.navigation.active {
  right: 0;
}

.hamburger.open #bar1 {
  background-color: #fff;
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: #fff;
  transform: rotate(-45deg) translate(6px, -5px);
}

@media (max-width: 700px) {
  .logo {
    width: 100px;
  }
}
