.stack {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  margin-top: 50px;
  margin-bottom: 70px;
}

/* Image top right corner */
.stack-top-left {
  grid-column: 1 / span 3;
  grid-row: 1;
  padding-top: 10%;
  z-index: 1;

  font-size: 2.05vw;
}

.stack-top-left div p {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 10px 5px 10px -2px #7f8b71;
  padding: 10px;
}

.stack-top-left h2 {
  font-size: 3.5vw;
}

.stack-bottom-right {
  grid-column: 3/ -1;
  grid-row: 1;
}

.stack-bottom-right img {
  box-shadow: 5px 5px 11px -5px #000;
}

/* Image bottom left corner */
.stack-top-right {
  padding-top: 10%;
  z-index: 1;
  grid-column: 3/ -1;
  grid-row: 1;
  text-align: right;
  font-size: 2.05vw;
}

.stack-top-right h2 {
  font-size: 3.5vw;
}

.stack-top-right div p {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: -10px 5px 10px -2px #7f8b71;
  padding: 10px;
}

.stack-bottom-left {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.stack-bottom-left img {
  box-shadow: -5px 5px 11px -5px #000;
}

ul.technologies-used-right {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding-left: 0;
  justify-content: end;
}

ul.technologies-used-left {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 699px) {
  .stack {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 10px -2px #7f8b71;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(36, 69, 3, 0.9);
    color: #ed9f0c;
  }

  .stack-top-left,
  .stack-top-right {
    grid-column: 1 / span 3;
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }

  .stack-bottom-right,
  .stack-bottom-left {
    margin: 0 auto;
    z-index: -1;
    grid-column: 1 / span 3;
  }
}

@media (min-width: 700px) {
  .stack-top-left div p {
    width: 130%;
  }
}
