@import url("nav.css");
@import url("stack.css");
@import url("footer.css");

:root {
  --primary-font: "Playfair Display SC", serif;
  --secondry-font: "Poppins", sans-serif;
  --primary-color: #85e1dc;
  --secondary-color: #a1d8da;
  --low-color: #aecac2;
  --link-color1: #c9a053;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 9.5vw;
}

.intro {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  width: 80%;
}

.intro h4,
.intro p {
  width: 70%;
  font-size: 3vw;
}

.intro h4,
h3 span {
  color: var(--link-color1);
}

.disappear {
  display: none;
  transition: all 2s ease-in-out;
}

.section {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  width: 70%;
}

.divider {
  display: grid;
  margin-top: 185px;
  margin-bottom: 20px;
  align-items: center;
}

.divider h3 {
  grid-column: 1 / 1;
  grid-row: 1;
  font-size: 4vw;
}

.divider hr {
  height: 2px;
  color: black;
  width: 100%;
  grid-column: 2 / 15;
  grid-row: 1;
}

#aboutMe div {
  font-size: 3vw;
}

.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: circle;
}

.contact-section {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 70%;
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .navigation {
    right: 0;
    background-color: transparent;
    width: 70%;
    height: 10%;
  }

  nav {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 75%;
  }

  nav ul {
    display: flex;
    gap: 10px;
    padding-left: 0;
  }

  .navigation ul li,
  .navigation ul li a {
    text-align: right;
    font-size: 15px;
    padding: 0;
    text-decoration: none;
    border-color: transparent;
  }

  .divider {
    margin-top: 100px;
  }
}
