:root {
  --primary-font: "Playfair Display SC", serif;
  --secondry-font: "Poppins", sans-serif;
  --primary-color: #bbe9db;
  --secondary-color: #aeccc6;
}

.homepage-hero {
  text-align: center;
  background-color: var(--primary-color);
  font-family: var(--secondry-font);
}
.homepage-hero h1 {
  font-family: var(--primary-font);
  font-size: 75px;
  font-weight: 700;
  line-height: 128px;
}
.homepage-hero h2 {
  padding-bottom: 70px;
}
.homepage-hero h3 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  padding-top: 100px;
}

.heading {
  padding-right: 0;
}

.avitar {
  background-color: var(--primary-color);
  display: block;
  margin: 0 auto;
  max-width: 380px;
  max-height: 500px;
}

.bar-deco {
  font-size: 16px;
  background-color: white;
  line-height: 24px;
  font-weight: 500;
}

.active {
  color: var(--primary-color) !important;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.content-paragraph {
  font-family: var(--secondry-font);
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.content-paragraph .row {
  margin-bottom: 50px;
}

.content-intro {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  padding: 40px;
  padding-top: 65px;
}

hr {
  border: none;
  border-top: 10px dotted var(--primary-color);
  color: white;
  max-width: 450px;
  margin: 0 auto;
}

.content-intro p {
  padding-top: 25px;
}

.content-headings {
  font-family: var(--primary-font);
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
}

.content-subheadings {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-family: var(--secondry-font);
}

.content-button {
  font-family: var(--secondry-font);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  height: 24px;
  padding: 15px 10px;
  transition: 200ms ease-in-out;
}

.content-button:hover {
  color: white;
  background-color: var(--primary-color);
}

.homepage-content .row {
  padding-bottom: 45px;
}

.inquiry-section {
  background-color: var(--primary-color);
  padding: 25px;
  padding-top: 60px;
  margin-top: 10px;
}

.inquiry-heading {
  text-align: left;
  font-family: var(--secondry-font);
  font-size: 18px;
  line-height: 20px;
  padding-left: 80px;
}

.inquiry-heading h2 {
  font-family: var(--primary-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

.inquiry-btn {
  padding-top: 30px;
}

.inquiry-button {
  color: white;
  text-decoration: none;
  font-family: var(--secondry-font);
  font-size: 18px;
  font-weight: 500px;
  line-height: 27px;
  text-align: center;

  width: 200px;
  height: 64px;
  padding: 18px 30px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);

  transition: 200ms ease-in-out;
}

.inquiry-button:hover {
  color: var(--secondary-color);

  background-color: white;
  border: 1px solid var(--primary-color);
}

footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-email {
  text-align: center;
  font-family: var(--secondry-font);
  font-size: 25px;
  font-weight: 500;
}

.footer-icons {
  font-size: 40px;
  max-width: 400px;
  margin: auto;
  padding-top: 40px;
}

footer a {
  color: var(--secondary-color);
  padding: 5px;
  transition: 200ms ease-in-out;
}

footer a:hover {
  color: var(--primary-color);
}

.about-hero {
  margin-top: 30px;
  margin-bottom: 100px;
}

.about-me-all {
  margin-top: 100px;
}

.about-sub {
  font-size: 18px;
  font-family: var(--secondry-font);
  font-weight: 700;
  line-height: 27px;
}

.sub-hero {
  margin-top: 150px;
  margin-bottom: 100px;
}

.works-display {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .homepage-hero {
    text-align: center;
  }

  .homepage-hero h1 {
    font-size: 50px;
    line-height: 75px;
  }

  img {
    display: none;
  }

  .avitar {
    display: none;
  }

  .content-paragraph {
    text-align: center;
  }

  .content-project {
    font-size: 45px;
  }

  .inquiry-heading {
    padding-left: 0px;
    text-align: center;
  }

  .inquiry-button {
    display: block;
    margin: 0 auto;
  }

  .about-me-all {
    text-align: center;
  }

  .sub-hero {
    text-align: center;
  }
}
